/*!
Theme Name: cyrBackendTheme
Theme URI: http://cyramoblamientos.com
Author: Carlos Fernandez
Author URI: https://www.taniarascia.com
Description: Theme for Backend C&R Headless Wordpress.
Version: 1.0.0
License: GNU General Public License v2 or later
Text Domain: cyr
*/
:root{
    --rojo: #c44343;
    --gris: #707070;
}
body{
    width: 100vw;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.header{
    width: 100vw;
    max-width: 100%;
}

.wrapper{
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}  
img{
    width: 100vw;
    max-width: 100%;
    height: 50vh;
    object-fit: cover;
} 
.titulares{
    width: 80vw;
}
h1{
    font-size: 4vmin;
}
h2{
    font-size: 2.5vmin;
}
.contenido{
    width: 80vw;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    z-index: 100;
}
.menuBoton{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 150;
    cursor: pointer;
    width: 15vmin;
    height: 15vmin;
    background: var(--rojo);
    color: white;
}
.menuBoton  span{
    position: absolute;
    left: 4vmin;
    top: 7vmin;
    width: 7vmin;
    height: 4px;
    background: white;
    content: "";
    transition: all .3s ease-out;
}
.menuBoton span:first-child{
    top:5.5vmin;
}
.menuBoton span:last-child{
    top:8.5vmin;
    width: 2vmin;
}
.menuBoton.cerrado span{
    position: absolute;
    left: 5vmin;
    top: 7vmin;
    width: 5vmin;
    height: 4px;
    background: white;
    content: "";
}
.menuBoton.cerrado  span:first-child {
    transform: rotate(-45grad);
}
.menuBoton.cerrado  span:nth-child(2){
    opacity: 0;
}
.menuBoton.cerrado  span:last-child{
    transform: rotate(45grad);
}
.menu{
    position: absolute;
    top: 0vh;
    height: 100vh;
    width: 30vw;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .6s ease-out;
}
.menu  ul {
    list-style: none;
    height: 60vh;
    width: 20vw;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu  ul  li {
    width: 20vw;
    height: 10vh;
}
.menu  ul  li  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.menu.cerrado {
    left: -30vw;
}
.menu.abierto{
    left: 0;
}
.redes{
    width: 30vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.redes  img{
    height: 20vh;
    width: 20vh;
}
.redes  .divisor{
    width: 2vh;
}
.redes  .item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vh;
    height: 7vh;
    border-radius: 3.5vh;
    background: var(--rojo);
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}
.footer{
    box-sizing: border-box;
	width: 100vw;
	max-width: 100%;
	height: 35vh;
	bottom: 0;
	margin: 0;
	background:var(--rojo);
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: space-between;
	color:white;
}
.footer a{
    color: white;
    text-decoration: none;
}
.footer .copyright{
    width: 90vw;
    height: 5vh;
    border-top: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer img{
    display: none;
}
.footer .contenedorFooter{
    margin: auto;
    width: 90vw;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer .contenedorFooter .contenedorFooter{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.footer .contenedorFooter h1{
    width: 80%;
    border-bottom: solid 1px white;
    padding: 1vh;
    font-size: 2vh;
    margin: 0;
}
.footer .contenedorFooter ul{
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 70%;
    margin-top: 0;
}
.footer .contenedorFooter ul li{
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    font-size: 1.7vh;
    align-items: center;
}
.footer .contenedorFooter ul li i{
    margin-right: .5vh;
}
.footer .contenedorFooter ul li .doble{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.footer .contenedorFooter ul li .doble p{
    font-size: 1.2vh;
    margin: 0;
}
.footer .contenedorFooter ul li .doble p:first-child{
    font-size: 1.7vh;
}
.footer .contenedorFooter .redes{
    flex-direction: row;
    align-items: flex-start;
}
.footer .contenedorFooter .redes li{
    margin: 1vh;
    width: 2.5vmax;
    height: 2.5vmax;
    background: white;
    color: var(--rojo);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10vh;
    font-size: 1vmax;
}
.footer .contenedorFooter .redes li a{
    color:var(--rojo);
    text-decoration:none;
}
.footer .contenedorFooter .redes li i{
    text-align:right;
}

button{
	box-sizing: border-box;
	padding: 1vmin 2vmin;
	margin: auto;
	color: white;
	background: var(--rojo);
	border-radius: .5vh;
	border:none;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
button:hover{
    background:tomato;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}
button:active{
    background:darkred;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
}

@media screen and (max-width: 800px) {
    .menu{
        width: 50vw;
    }
    .menu.cerrado{
        left: -50vw;   
    }
    .redes{
        width: 40vw;
        height: 20vh;
        justify-content: center;
    }
    .redes  .divisor{
        width: 1vw;
    }
    .redes  .item{
        display: none;
    }
    .redes  img{
        width: 15vh;
        height: 15vh;
        object-fit: cover;
    }
    .contenedorFooter .contenedorFooter:first-child{
        display: none;
    }
    .contenedorFooter .contenedorFooter:nth-child(2){
        display: none;
    }
    .contenedorFooter img{
        display: flex;
        width: 10vw;
        height: 10vw;
    }
    .contenedorFooter .contenedorFooter:last-child .redes{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .contenedorFooter .contenedorFooter:last-child .redes li{
        padding: 3vw;
    }
    .contenedorFooter .contenedorFooter:last-child .redes li i{
        font-size: 4vw;
    }
    .contenedorFooter:last-child h1{
        display: none;
    }
}